/*body {
  background-color:#000000 !important;
}*/

.graph-label {
  font-size: 30px !important;
}

rect.now {
  fill: #00ff80 !important;
  stroke: #0080ff !important;
}

text.now {
  fill: #0080ff !important;
  font-weight: bold;
}
